$white: #ffffff;
$black: #000000;
$page-back: #fbfcfd;
$title-h1: #4d5055;
$title-h2: rgb(77, 80, 85);
$title-h4: rgba(77, 80, 85, 0.6);
$data-block-border: rgba(77, 80, 85, 0.1);

$active: rgb(0, 162, 255);
$onhover: rgba(0, 162, 255, 0.15);

$calendar-active-day-background:rgba(0, 162, 255, 0.05);
$possible-hours-border:rgba(0, 162, 255, 0.5);

$timezone-window-border-color: rgba(0, 0, 0, 0.2);
