h1{
  font-family: 'ProximaNovaRegular', sans-serif;
  font-size: 32px;
  color: $title-h1;
  font-weight: 600;
  line-height: 100%;
  font-style: normal;
  font-stretch: normal;
}

h2{
  font-family: 'ProximaNovaRegular', sans-serif;
  font-size: 20px;
  color: $title-h2;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

h4{
  font-family: 'ProximaNovaRegular', sans-serif;
  font-size: 16px;
  color: $title-h4;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

span{
  font-family: 'ProximaNovaRegular', sans-serif;
  color: $active;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}
